In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd
import re

In [0]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/mail_parsed_FULL_V2.csv', encoding='utf-8-sig',lineterminator='\n' )

In [0]:
df = df.drop('Unnamed: 0', 1)

In [0]:
df1 = df[['title','description','content']]

In [0]:
df = df1

In [0]:
df

                                                    title  ...                                            content
0       Независимый Бесплатный Сервис Проведения Опрос...  ...  .Независимый Сервис для Проведения.Опросов и Г...
1                  Turako — туристический интернет-журнал  ...  .Перейти к контенту.Страны.Испания.Турция.Фран...
2       ITShop - Программы, Учебные курсы, Сертификаци...  ...  .+7 (495) 229-0436. shopadmin@itshop.ru. 11933...
3           ВозвратАвто.ру - Возврат автомобиля продавцу.  ...  .Авторитетная помощь автоюристов.. Юридические...
4       Торговый дом Гефест - снабжение предприятий ма...  ...  .8-800-511-01-52.[бесплатный звонок по РФ]. in...
...                                                   ...  ...                                                ...
209183  ДЕРЕВООБРАБАТЫВАЮЩЕЕ ОБОРУДОВАНИЕ со склада СП...  ...  .ДЕРЕВООБРАБАТЫВАЮЩЕЕ. ОБОРУДОВАНИЕ со склада....
209184  Интернет-портал содействия юридической помощи ...  ...  . goldfistrussia.ru. Защищаем права потребител...
209185  Нерудные материалы ( песок, щебень, керамзит, ...  ...  .Четверг, 05.03.2020, 02:18. Такие нерудные ма...
209186  1274729 организаций России на прогрессивном по...  ...  . holm.ru. Добавить организацию. Войти. Выбери...
209187                          Collection Of Porn Videos  ...  . All TOP Porn Movies. | All NEW Porn Movies. ...

[209188 rows x 3 columns]

In [0]:
df['title'] = df['title'].apply(lambda row: re.compile(r'(\W)\1+').sub(r'\1', str(row)))
df['title'] = df['title'].apply(lambda row: re.compile(r'[^\w\s]').sub(r' ', str(row)).strip())

In [0]:
df['description'] = df['description'].apply(lambda row: re.compile(r'(\W)\1+').sub(r'\1', str(row)))
df['description'] = df['description'].apply(lambda row: re.compile(r'[^\w\s]').sub(r' ', str(row)).strip())

In [0]:
df['content'] = df['content'].apply(lambda row: re.compile(r'(\W)\1+').sub(r'\1', str(row)))
df['content'] = df['content'].apply(lambda row: re.compile(r'[^\w\s]').sub(r' ', str(row)).strip())

In [0]:
df_content = df[df['content'] != 'nan']
df_content = df_content[['content']]

In [0]:
df_content = df_content.drop_duplicates()
df_content = df_content.reset_index(drop=True)

In [0]:
pip install natasha

In [0]:
from natasha import OrganisationExtractor
from natasha import NamesExtractor
from natasha import LocationExtractor

In [0]:
all_titles = []
for text in df_content['content']:
  all_titles.append(text)

In [0]:
list_of_name = []
for count in range(len(all_titles)):
    print(count)
    extractor = OrganisationExtractor()
    matches = extractor(all_titles[count])
    for match in matches:
        list_of_name.append(match.fact.name)

In [0]:
list_of_name = list(set(list_of_name))
df_organisation_content = pd.DataFrame(list_of_name)

In [0]:
df_organisation_desc.to_csv('/content/drive/My Drive/Colab Notebooks/df_organisation_desc.csv', encoding='utf-8-sig')

In [0]:
list_of_name = []
for count in range(len(all_titles)):
    extractor = NamesExtractor()
    matches = extractor(all_titles[count])
    answer_name = ''
    j = 0
    print(count)

    for match in matches:
        for item in match.fact:
            if j == 4:
                list_of_name.append(answer_name)
                j = 0
                answer_name = ''
            if type(item) == str:
                answer_name += ''.join(item)
                answer_name += ' '
            j += 1
    list_of_name.append(answer_name)

In [0]:
list_of_name = list(set(list_of_name))

In [0]:
df_names_desc = pd.DataFrame(list_of_name)

In [0]:
df_names_desc.to_csv('/content/drive/My Drive/Colab Notebooks/df_names_desc.csv', encoding='utf-8-sig')

In [0]:
list_of_name = []
for count in range(len(all_titles)):
    print(count)
    extractor = LocationExtractor()
    matches = extractor(all_titles[count])
    for match in matches:
        list_of_name.append(match.fact.name)

In [0]:
list_of_name = list(set(list_of_name))
df_location_desc = pd.DataFrame(list_of_name)

In [0]:
df_location_desc.to_csv('/content/drive/My Drive/Colab Notebooks/df_location_desc.csv', encoding='utf-8-sig')

In [0]:
df1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_location_content.csv', encoding='utf-8')
df2 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_location_desc.csv', encoding='utf-8')
df3 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_location_title.csv', encoding='utf-8')
df4 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_names_content.csv', encoding='utf-8')
df5 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_names_desc.csv', encoding='utf-8')
df6 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_names_title.csv', encoding='utf-8')
df7 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_organisation_content.csv', encoding='utf-8')
df8 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_organisation_desc.csv', encoding='utf-8')
df9 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/df_organisation_title.csv', encoding='utf-8')

In [0]:
df1 = df1.drop('Unnamed: 0', 1)
df2 = df2.drop('Unnamed: 0', 1)
df3 = df3.drop('Unnamed: 0', 1)
df4 = df4.drop('Unnamed: 0', 1)
df5 = df5.drop('Unnamed: 0', 1)
df6 = df6.drop('Unnamed: 0', 1)
df7 = df7.drop('Unnamed: 0', 1)
df8 = df8.drop('Unnamed: 0', 1)
df9 = df9.drop('Unnamed: 0', 1)

In [0]:
df_NER = pd.concat([df1,df2,df3,df4,df5, df6, df7, df8, df9])

In [0]:
df_NER = df_NER.drop_duplicates()
df_NER = df_NER.reset_index(drop=True)

In [0]:
df_NER.to_csv('/content/drive/My Drive/Colab Notebooks/NER.csv', encoding='utf-8-sig')

In [0]:
df_title

                                                    title
0       Независимый Бесплатный Сервис Проведения Опрос...
1                    Turako туристический интернет журнал
2       ITShop Программы Учебные курсы Сертификация Эк...
3              ВозвратАвто ру Возврат автомобиля продавцу
4       Торговый дом Гефест снабжение предприятий мате...
...                                                   ...
209183  ДЕРЕВООБРАБАТЫВАЮЩЕЕ ОБОРУДОВАНИЕ со склада СП...
209184  Интернет портал содействия юридической помощи ...
209185  Нерудные материалы песок щебень керамзит торф ...
209186  1274729 организаций России на прогрессивном по...
209187                          Collection Of Porn Videos

[207687 rows x 1 columns]

In [0]:
df_title = df[df['title'] != 'nan']
df_title = df_title[['title']]

In [0]:
dictionary_titles = {}

In [0]:
i = 0
for subword in df_NER['0']:
  print(i)
  i += 1
  for word in df_title['title']:
    Count = word.count(subword)
    if Count == 0:
      continue
    else:
        if subword not in dictionary_titles:
            dictionary_titles[subword] = Count
        else:
            dictionary_titles[subword] += Count

In [0]:
df_NER

                               0
0                           хтск
1             северный промрайон
2                        уэстадо
3                      селатаная
4                          мдема
...                          ...
679166       ООО Изолит Энерго г
679167                   КИТАВТО
679168            Компания Alive
679169               ООО РУБИН в
679170  компания Nomad Insurance

[679171 rows x 1 columns]